server/.flows.json.backup
[
    {
        "id": "a0cf1996dea32086",
        "type": "tab",
        "label": "首页和用户信息",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da813bbfd577c796",
        "type": "tab",
        "label": "商品信息",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a0c34c372201e04d",
        "type": "tab",
        "label": "购物车操作",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69606c2aa0116abf",
        "type": "http in",
        "z": "a0cf1996dea32086",
        "name": "",
        "url": "/pics",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "13f288eb8a8cd97f"
            ]
        ]
    },
    {
        "id": "13f288eb8a8cd97f",
        "type": "function",
        "z": "a0cf1996dea32086",
        "name": "返回首页轮播图URL数组",
        "func": "msg.payload = [\n    'http://127.0.0.1:3000/public/images/pic1.png',\n    'http://127.0.0.1:3000/public/images/pic2.png',\n    'http://127.0.0.1:3000/public/images/pic3.png',\n    'http://127.0.0.1:3000/public/images/pic4.png',\n    'http://127.0.0.1:3000/public/images/pic5.png',\n]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "303d55c5d08be33d",
                "27ea0ce413058983"
            ]
        ]
    },
    {
        "id": "303d55c5d08be33d",
        "type": "http response",
        "z": "a0cf1996dea32086",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "27ea0ce413058983",
        "type": "debug",
        "z": "a0cf1996dea32086",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "eb13e1ad1d1bacc5",
        "type": "http in",
        "z": "a0cf1996dea32086",
        "name": "",
        "url": "/user/login",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "8f7f5c5bfe392d67"
            ]
        ]
    },
    {
        "id": "8f7f5c5bfe392d67",
        "type": "function",
        "z": "a0cf1996dea32086",
        "name": "处理用户登录",
        "func": "const db = global.get('mysql');\nlet username = msg.req.body.username\nlet password = msg.req.body.password\nif (username && password) {\n    await db.sql(\"select * from user where username = ?\", username)\n    .then(res => {\n        if (res.length == 0)\n            msg.payload = { code: 400, message: \"用户名不存在!\" };\n        else if (res[0].password != password)\n            msg.payload = { code: 400, message: \"密码错误!\" };\n        else {\n            msg.req.session.user = res[0];\n            msg.payload = { code: 200, message: \"登录成功!\" };\n        }\n    })\n    .catch(err => {\n        console.log(err);\n        msg.payload = { code: 500, err };\n    })\n} else\n    msg.payload = { code: 500, message: \"登录信息不完整!\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "303d55c5d08be33d",
                "27ea0ce413058983"
            ]
        ]
    },
    {
        "id": "893adf9bde7cbb2a",
        "type": "http in",
        "z": "a0cf1996dea32086",
        "name": "",
        "url": "/user/register",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "8492faeda70c3604"
            ]
        ]
    },
    {
        "id": "8492faeda70c3604",
        "type": "function",
        "z": "a0cf1996dea32086",
        "name": "用户注册功能",
        "func": "let username = msg.req.body.username\nlet password = msg.req.body.password\nlet email = msg.req.body.email\nlet avatar = msg.req.body.avatar\n//msg.payload = \"注册用户名：\"+username+\",email：\"+email+\",avatar:\"+avatar);\nconst db = global.get('mysql');\nawait db.sql(\"insert into user(username,password,email,avatar) values (?,?,?,?) \", username, password, email, avatar)\n    .then(res => {\n        console.log(res);\n        msg.payload = { code: 200, message:\"注册成功！\"};\n    })\n    .catch(err => {\n        console.log(err);\n        msg.payload = { code: 500, err };\n    })\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 360,
        "wires": [
            [
                "303d55c5d08be33d",
                "27ea0ce413058983"
            ]
        ]
    },
    {
        "id": "8442847668ce9f4f",
        "type": "http in",
        "z": "a0cf1996dea32086",
        "name": "",
        "url": "/user/profile",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "f0b086a8e8bfd216"
            ]
        ]
    },
    {
        "id": "f0b086a8e8bfd216",
        "type": "function",
        "z": "a0cf1996dea32086",
        "name": "返回登录用户信息",
        "func": "let sessionUser = {}\nObject.assign(sessionUser, msg.req.session.user);//对象复制\ndelete sessionUser.password;//删除密码\nmsg.payload = sessionUser;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 460,
        "wires": [
            [
                "303d55c5d08be33d",
                "27ea0ce413058983"
            ]
        ]
    },
    {
        "id": "ffdbce0a4a13e8ea",
        "type": "http in",
        "z": "a0cf1996dea32086",
        "name": "",
        "url": "/avatars",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "92339d7abd8a9336"
            ]
        ]
    },
    {
        "id": "92339d7abd8a9336",
        "type": "function",
        "z": "a0cf1996dea32086",
        "name": "返回用户头像",
        "func": "msg.payload = [\n  \"http://127.0.0.1:3000/public/images/avatar.jpg\",\n  \"http://127.0.0.1:3000/public/images/head_0.png\",\n  \"http://127.0.0.1:3000/public/images/head_2.png\",\n  \"http://127.0.0.1:3000/public/images/head_3.png\",\n  \"http://127.0.0.1:3000/public/images/head_7.png\",\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 560,
        "wires": [
            [
                "303d55c5d08be33d",
                "27ea0ce413058983"
            ]
        ]
    },
    {
        "id": "a7734af99a4238d3",
        "type": "http in",
        "z": "da813bbfd577c796",
        "name": "",
        "url": "/category/list",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "5d2bf1cde49ed7ea"
            ]
        ]
    },
    {
        "id": "5d2bf1cde49ed7ea",
        "type": "function",
        "z": "da813bbfd577c796",
        "name": "获取商品分类信息",
        "func": "const db = global.get('mysql');\nawait db.sql(\"SELECT * FROM product_category\")\n    .then(res => {\n        msg.payload = res;\n    }).catch(err => {\n        console.log(err);\n        msg.payload = { code: 500, err }\n    })\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 120,
        "wires": [
            [
                "91957a35c6331fa0"
            ]
        ]
    },
    {
        "id": "91957a35c6331fa0",
        "type": "http response",
        "z": "da813bbfd577c796",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "16232ff734134363",
        "type": "http in",
        "z": "da813bbfd577c796",
        "name": "",
        "url": "/product/list",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 220,
        "wires": [
            [
                "e5d9bf114207e486"
            ]
        ]
    },
    {
        "id": "e5d9bf114207e486",
        "type": "function",
        "z": "da813bbfd577c796",
        "name": "按分类获取商品信息",
        "func": "const db = global.get('mysql');\nlet categoryId =  msg.req.query.categoryId\nlet sql = \"SELECT *,a.id AS aid,a.name AS aname FROM product a, product_detail b WHERE a.id = b.product_id\"\nif (categoryId) \n    sql = sql + \" and  a.category_id = \" + categoryId\nlet lastObj = null;\nawait db.sql(sql)\n    .then(res => {\n        let data = [] ;\n        for (let i=0;i<res.length;i++){\n            //判断是否和前一条记录是同一个商品    \n            if (lastObj && lastObj.id == res[i].aid ){\n                lastObj.details.push({\n                        id : res[i].id,\n                        name : res[i].name,\n                        image : res[i].image,\n                        stock : res[i].stock,\n                        price : res[i].price,\n                        salePrice : res[i].sale_price, \n                })\n            }else{\n                let obj = {\n                    id : res[i].aid,\n                    name : res[i].aname,\n                    description : res[i].description,\n                    categoryId : res[i].category_id,\n                    showIndex : res[i].show_index,\n                    details : [{\n                        id : res[i].id,\n                        name : res[i].name,\n                        image : res[i].image,\n                        stock : res[i].stock,\n                        price : res[i].price,\n                        salePrice : res[i].sale_price,\n                    }]\n                }\n                lastObj = obj;\n                data.push(obj);\n            }\n        }\n        msg.payload = data;\n    }).catch(err => {\n        console.log(err);\n        msg.payload = { code: 500, err };\n    })\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 220,
        "wires": [
            [
                "91957a35c6331fa0"
            ]
        ]
    },
    {
        "id": "c3186e899f9f78c7",
        "type": "http in",
        "z": "da813bbfd577c796",
        "name": "",
        "url": "/product/getById",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 320,
        "wires": [
            [
                "ac56f888af4f8724"
            ]
        ]
    },
    {
        "id": "ac56f888af4f8724",
        "type": "function",
        "z": "da813bbfd577c796",
        "name": "单个商品信息",
        "func": "const db = global.get('mysql');\nlet id = msg.req.query.id\nlet sql = \"SELECT *,a.id AS aid,a.name AS aname FROM product a, product_detail b WHERE a.id = b.product_id and a.id = ?\"\nawait db.sql(sql, id)\n    .then(res => {\n        let product;\n        for (let i = 0; i < res.length; i++) {\n            //判断是否和前一条记录是同一个商品    \n            if (i > 0) {\n                product.details.push({\n                    id: res[i].id,\n                    name: res[i].name,\n                    image: res[i].image,\n                    stock: res[i].stock,\n                    price: res[i].price,\n                    salePrice: res[i].sale_price,\n                })\n            } else {\n                product = {\n                    id: res[i].aid,\n                    name: res[i].aname,\n                    description: res[i].description,\n                    categoryId: res[i].category_id,\n                    showIndex: res[i].show_index,\n                    details: [{\n                        id: res[i].id,\n                        name: res[i].name,\n                        image: res[i].image,\n                        stock: res[i].stock,\n                        price: res[i].price,\n                        salePrice: res[i].sale_price,\n                    }]\n                }\n            }\n        }\n        msg.payload = product;\n    }).catch(err => {\n        console.log(err);\n        msg.payload = { code: 500, err }\n    })\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "91957a35c6331fa0"
            ]
        ]
    },
    {
        "id": "4e2df7caf1271065",
        "type": "http in",
        "z": "a0c34c372201e04d",
        "name": "",
        "url": "/cart/add",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 180,
        "wires": [
            [
                "653120fe44995884"
            ]
        ]
    },
    {
        "id": "afe080e8a3d6924c",
        "type": "http in",
        "z": "a0c34c372201e04d",
        "name": "",
        "url": "/cart/list",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "653120fe44995884"
            ]
        ]
    },
    {
        "id": "653120fe44995884",
        "type": "switch",
        "z": "a0c34c372201e04d",
        "name": "判断用户是否登录",
        "property": "$exists(msg.req.session.user.id) and msg.req.session.user.id",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 180,
        "wires": [
            [
                "3bdd0f91859059f4"
            ],
            [
                "9a9a750abe083672"
            ]
        ]
    },
    {
        "id": "3bdd0f91859059f4",
        "type": "function",
        "z": "a0c34c372201e04d",
        "name": "返回用户未登录的错误提示",
        "func": "msg.payload = { code: 400, message: \"请先登录\" };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 160,
        "wires": [
            [
                "9d80a626647ff208"
            ]
        ]
    },
    {
        "id": "9d80a626647ff208",
        "type": "http response",
        "z": "a0c34c372201e04d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "9a9a750abe083672",
        "type": "switch",
        "z": "a0c34c372201e04d",
        "name": "判断请求的URL",
        "property": "req.url",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "/cart/add",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "/cart/list",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 320,
        "wires": [
            [
                "8b8c35a5f7904961"
            ],
            [
                "771bbd08430e5f93"
            ]
        ]
    },
    {
        "id": "8b8c35a5f7904961",
        "type": "function",
        "z": "a0c34c372201e04d",
        "name": "商品添加到购物车",
        "func": "const db = global.get('mysql');\nlet productId = msg.req.body.productId;     //商品id\nlet detailId = msg.req.body.detailId;       //具体商品id\nlet number = msg.req.body.quantity;         //商品数量\nlet userId = msg.req.session.user.id;       //当前登录用户id    \n// 这里应该要验证数据的合法性，比如用户id是否存在，储存是否足够等信息\n// 这里暂时不做验证\nawait db.sql(\"select * from cart where product_id = ? and detail_id = ? and user_id = ?\", productId, detailId, userId)\n    .then(async res => {\n        let now = new Date()\n        // 如果已经存在了这条记录，只要添加就数量就好了\n        if (res.length > 0) {\n            let cartId = res[0].id;\n            await db.sql(\"update cart set quantity = quantity + ?, update_time = ? where id = ? \", number, now, cartId)\n                .then(res => {\n                    msg.payload = { code: 200, message: \"更新成功！\" }\n                })\n                .catch(err => {\n                    console.log(err);\n                    msg.payload = { code: 500, err }\n                })\n        }\n        // 否则就是新增\n        else {\n            await db.sql(\"insert into cart(quantity, checked, product_id, detail_id, user_id, create_time, update_time) values(?, ?, ?, ?, ?, ?, ?)\",\n                number, true, productId, detailId, userId, now, now)\n                .then(res => {\n                    msg.payload = { code: 200, message: \"添加成功！\" }\n                })\n                .catch(err => {\n                    console.log(err);\n                    msg.payload = { code: 500, err }\n                })\n        }\n    })\n    .catch(err => {\n        console.log(err);\n        msg.payload = { code: 500, err }\n    })\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 240,
        "wires": [
            [
                "9d80a626647ff208"
            ]
        ]
    },
    {
        "id": "771bbd08430e5f93",
        "type": "function",
        "z": "a0c34c372201e04d",
        "name": "查询用户购物车中的商品",
        "func": "const db = global.get('mysql');\nlet userId = msg.req.session.user.id;\nawait db.sql(`SELECT *, a.id AS pid,b.id AS pdid,a.name AS pname\nFROM product a,product_detail b,cart c \nWHERE c.product_id = a.id AND c.detail_id = b.id AND c.user_id = ?`, userId)\n    .then(res => {\n        msg.payload = res;\n    })\n    .catch(err => {\n        console.log(err);\n        msg.payload = { code: 500, err }\n    })\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 320,
        "wires": [
            [
                "9d80a626647ff208"
            ]
        ]
    }
]